@use 'fonts' as *;
@use 'variables' as *;
@use 'colors' as *;

@mixin parrafo {
    font-family: $fuente-parrafo ;
    font-size: 15px;
    font-weight: 600;
}
@mixin titulo-h1 {
    font-family: 'Montserrat';
}
@mixin titulo-h2 {
    font-family: 'Montserrat';
}
@mixin titulo-h3 {
    font-family: 'Montserrat';
}

//inputs
@mixin campo-claro {
    width: 100%;
    background: $color-primario;
    border: none;
    outline: none;
    border-radius: $borde-radio-min;
    padding: 5px;
    color: $color-secundario;
    font-family: $fuente-2;
    font-weight: 700;
}